@font-face {
    font-family: 'Asmelina Harley';
    src: url('AsmelinaHarleyRegular.woff2') format('woff2'),
        url('AsmelinaHarleyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

